@import "vendor/tailwind";

#menu-toggle:checked + #menu {
    @apply block;
}

.hover\:grow {
    @apply transform scale-100 transition-all duration-300;

    &:hover {
        @apply scale-102;
    }
}

body {
    @import "vendor/swiper";
}
